@import "../../../assets/style/regular";

@mixin navigation-bar {
	.navigation-bar {
		z-index: 1;
		display: flex;
		position: relative;
		justify-content: center;
		transition-duration: 0.3s;
		.navigation-bar-extend {
			flex-grow: 1;
			display: block;
		}
		.navigation-bar-main {
			width: 100%;
			margin: auto;
			height: 120px;
			max-width: 1440px;
			align-self: center;
			position: relative;
			.navigation-bar-item {
				height: 100%;
				display: flex;
				position: relative;
				padding: 40px 105px;
				box-sizing: border-box;
				justify-content: space-between;
				.brand-logo {
					width: 175px;
				}
				.right {
					display: flex;
					align-items: center;
					p {
						margin: 0;
						cursor: pointer;
						font-size: 18px;
						color: rgba(48, 48, 55, 0.75);
						font-family: "SF Compact Text Regular", sans-serif;
						&:nth-child(2) {
							margin: 0 40px;
						}
					}
					.icon-button {
						padding: 0;
						width: 32px;
						height: 32px;
						border: none;
						outline: none;
						cursor: pointer;
						background-color: transparent;
						&:last-child {
							margin-left: 16px;
						}
						.hamburger-menu {
							position: relative;
							span {
								width: 24px;
								height: 2px;
								display: block;
								margin-left: auto;
								margin-right: auto;
								transition-duration: 0.3s;
								background-color: #313896;
								&:nth-child(2) {
									margin: 6px auto;
								}
							}
						}
						.context-active span {
							&:nth-child(1) {
								transform: rotateZ(45deg) translateX(6px) translateY(5.3px);
							}
							&:nth-child(2) {
								opacity: 0;
								visibility: hidden;
								transform: translateX(50%);
							}
							&:nth-child(3) {
								transform: rotateZ(-45deg) translateX(6px) translateY(-5.3px);
							}
						}
					}
					.contact-button {
						width: 140px;
						height: 40px;
						color: #313896;
						font-size: 14px;
						cursor: pointer;
						font-weight: bold;
						border-radius: 8px;
						font-style: normal;
						box-sizing: border-box;
						background-color: #ffffff;
						border: 2px solid #313896;
						font-family: "SF Compact Text Regular", sans-serif;
					}
				}
			}
		}
		@media only screen and (max-width: $tablet) {
			.navigation-bar-main {
				.navigation-bar-item {
					padding-left: 40px;
					img {
						width: unset !important;
					}
				}
			}
		}
		@media only screen and (max-width: $mobile) {
			.navigation-bar-main {
				height: 80px;
				.logo-container {
					width: 80px;
					height: 80px;
					background-size: cover;
					background-position: right 0;
				}
				.navigation-bar-item {
					padding: 22px 16px;
					.brand-logo {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
}

@mixin mobile-context-menu {
	.mobile-context-menu {
		bottom: 0;
		z-index: 2;
		opacity: 0;
		width: 100%;
		display: flex;
		visibility: hidden;
		position: absolute;
		flex-direction: column;
		height: calc(100% - 80px);
		transition-duration: 0.3s;
		background-color: rgba(#656565, 0.5);
		.context-content {
			width: 100%;
			height: 172px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #ffffff;
			border-radius: 0 0 8px 8px;
			hr {
				height: 2px;
				width: 100px;
				border: none;
				margin: 16px auto;
				background-color: #EEEEEE;
			}
			p {
				margin: 0 auto;
				color: #303037;
				cursor: pointer;
				font-size: 24px;
				text-align: center;
				display: inline-block;
				font-family: "Rubik", sans-serif;
			}
		}
		.foreground-layer {
			width: 100%;
			flex-grow: 1;
		}
	}
	@media only screen and (min-width: $tablet) {
		.mobile-context-menu {
			height: calc(100% - 120px);
		}
	}
}

@mixin header-content {
	.header-content {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		.header-content-main {
			width: 100%;
			height: 732px;
			max-width: 1440px;
			position: relative;
			.header-content-text {
				z-index: 1;
				width: 100%;
				display: flex;
				max-width: 660px;
				margin-top: 60px;
				margin-left: 105px;
				position: relative;
				padding-bottom: 40px;
				flex-direction: column;
				p {
					margin: 0;
					&:nth-child(1) {
						color: #A7A9C0;
						font-size: 24px;
						font-weight: 500;
						margin-bottom: 16px;
						font-family: "Rubik", sans-serif;
					}
					&:nth-child(2) {
						color: #303037;
						font-size: 60px;
						font-weight: bold;
						line-height: 125%;
						margin-bottom: 32px;
						font-family: "Rubik", sans-serif;
					}
					&:nth-child(3) {
						color: #303037;
						font-size: 20px;
						max-width: 540px;
						line-height: 160%;
						font-family: "SF Compact Text Regular", sans-serif;
					}
				}
				.button-container {
					margin-top: 32px;
					position: relative;
					button {
						width: 140px;
						height: 40px;
						border: none;
						outline: none;
						color: #ffffff;
						font-size: 14px;
						cursor: pointer;
						font-weight: bold;
						border-radius: 8px;
						background-color: #3FBEAD;
						font-family: "SF Compact Text Regular", sans-serif;
					}
					img {
						bottom: 6px;
						left: 108px;
						z-index: -1;
						position: absolute;
					}
				}
			}
			.header-illustration {
				top: -120px;
				right: 16px;
				position: absolute;
			}
		}
		@media only screen and (max-width: $desktop-sm) {
			.header-content-main {
				.header-illustration {
					display: none;
				}
			}
		}
		@media only screen and (max-width: $tablet) {
			.header-content-main {
				.header-content-text {
					margin-top: 340px;
					margin-left: auto;
					margin-right: auto;
					p {
						text-align: center;
						&:nth-child(2) {
							font-size: 50px;
						}
						&:nth-child(3) {
							margin: auto;
						}
					}
					.button-container {
						text-align: center;
						img {
							left: 0;
							right: 0;
							margin: auto;
							transform: translateX(-135px);
						}
					}
				}
				.header-illustration {
					left: 0;
					right: 0;
					margin: auto;
					display: block;
				}
			}
		}
		@media only screen and (max-width: $mobile) {
			.header-content-main {
				height: 456px;
				.header-content-text {
					width: 100%;
					padding: 0 16px;
					max-width: 375px;
					box-sizing: border-box;
					margin: 340px auto 0 auto;
					p {
						text-align: center;
						&:nth-child(1) {
							font-size: 18px;
							max-width: 196px;
							margin-left: auto;
							margin-right: auto;
						}
						&:nth-child(2) {
							font-size: 28px;
						}
						&:nth-child(3) {
							width: auto;
						}
					}
					.button-container {
						align-self: center;
						img {
							top: 6px;
							left: unset;
							right: -174px;
						}
					}
				}
				.header-illustration {
					left: 50%;
					right: unset;
					transform: translateX(-50%);
				}
			}
		}
	}
}

@mixin header-container {
	.header-container {
		height: 850px;
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat;
		background-position: top center;
		background-image: url("../../../assets/image/homeHeader4.svg");
		@media only screen and (max-width: $mobile) {
			.header-container {
				background-position: left center;
			}
		}
		@include navigation-bar;
		@include mobile-context-menu;
		@include header-content;
	}
	@media only screen and (max-width: $tablet) {
		.header-container {
			height: 1000px;
			background-position: top left;
		}
	}
	@media only screen and (max-width: $mobile) {
		.header-container {
			height: 900px;
		}
	}
}