@import "../../../assets/style/regular";

@mixin who-are-we {
	.who-are-we {
		margin: auto;
		display: flex;
		padding: 0 105px;
		max-width: 1440px;
		box-sizing: border-box;
		.left {
			flex-grow: 1;
			p {
				margin: 0;
				font-family: "Rubik", sans-serif;
				&:nth-child(1) {
					color: #A7A9C0;
					font-size: 24px;
					font-weight: 500;
					margin-bottom: 16px;
				}
				&:not(:first-child) {
					color: #303037;
					font-size: 48px;
					font-weight: bold;
					line-height: 125%;
				}
			}
		}
		.right {
			$size: 48px;
			$margin: 30px;
			width: 100%;
			max-width: 470px;
			box-sizing: border-box;
			padding-left: $size + $margin;
			.each-point {
				p {
					margin: 0;
					color: #303037;
					position: relative;
					&:first-child {
						font-size: 24px;
						line-height: 160%;
						font-weight: bold;
						font-family: "Rubik", sans-serif;
						&:before {
							top: 50%;
							content: "";
							width: $size;
							height: $size;
							position: absolute;
							border-radius: 50%;
							left: -$size - $margin;
							background-color: #E0E0E0;
							transform: translateY(-50%);
						}
					}
					&:last-child {
						font-size: 18px;
						margin-top: 16px;
						line-height: 160%;
						font-family: "SF Compact Text Regular", sans-serif;
					}
				}
				&:first-child {
					margin-bottom: 40px;
				}
			}
		}
	}
	@media only screen and (max-width: $mobile) {
		.who-are-we {
			padding: 0 16px;
			flex-direction: column;
			.left p {
				text-align: center;
				&:nth-child(1) {
					font-size: 18px;
				}
				&:not(:first-child) {
					font-size: 28px;
				}
			}
			.right {
				$size: 40px;
				$margin: 24px;
				margin-top: 70px;
				padding-left: $size + $margin;
				.each-point {
					p {
						&:first-child {
							font-size: 18px;
							&::before {
								width: $size;
								height: $size;
								left: -$size - $margin;
							}
						}
						&:last-child {
							margin-top: 24px;
						}
					}
					&:last-child {
						margin-bottom: 38px;
					}
				}
			}
		}
	}
}

@mixin how-it-works {
	.how-it-works {
		margin: auto;
		max-width: 1440px;
		p {
			margin: 0;
			&:nth-child(1) {
				color: #A7A9C0;
				font-size: 24px;
				font-weight: 500;
				text-align: center;
				font-family: "Rubik", sans-serif;
			}
			&:nth-child(2) {
				color: #303037;
				font-size: 48px;
				font-weight: bold;
				text-align: center;
				margin: 16px auto 32px auto;
				font-family: "Rubik", sans-serif;
			}
			&:nth-child(3) {
				margin: auto;
				color: #303037;
				font-size: 20px;
				max-width: 600px;
				line-height: 160%;
				text-align: center;
				font-family: "SF Compact Text Regular", sans-serif;
			}
		}
		.pipeline-works {
			display: flex;
			margin-top: 80px;
			flex-direction: row;
			justify-content: center;
			.each-item {
				$size: 64px;
				width: 100%;
				max-width: 390px;
				position: relative;
				padding-top: $size;
				&:nth-child(2) {
					margin: 0 30px;
				}
				&::before {
					top: 0;
					left: 0;
					right: 0;
					content: "";
					margin: auto;
					width: $size;
					height: $size;
					position: absolute;
					border-radius: 50%;
					background-color: #E0E0E0;
				}
			}
		}
	}
}

@mixin about-us-container {
	.about-us-container {
		width: 100%;
		padding-top: 90px;
		box-sizing: border-box;
		@include who-are-we;
		@include how-it-works;
	}
	@media only screen and (max-width: $mobile) {
		.about-us-container {
			padding-top: 40px;
		}
	}
}